.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.input-container button {
  background-color: #45236d;
  border: 0px;
  color: white;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #6826af;
}

.input-container input {
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  width: 150px;
  border: 0px;
  border-bottom: 2px solid #45236d;
}

.uno {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #c3061a;
  margin-bottom: 3px;
  margin-right: 3px;
}

.cinco {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  background-color: #c3061a;
}

.cero {
  width: 50px;
  height: 10px;
  border-radius: 30px;
  margin-bottom: 3px;
  border: 2px solid #c3061a;
}

.tablero-maya {
  border: 1px solid black;
  width: 60px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
}

.opciones-maya {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: flex-start;
  width: fit-content;
}

.add-maya {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  border: 1px solid #45236d;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #c3061a;
}

.add-maya .uno {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 3px;
  margin-right: 3px;
}

.add-maya .cinco {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  background-color: white;
}

.contenedor-maya {
  display: flex;
  flex-direction: column-reverse;
}

.header {
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
  justify-content: space-between;
  background-color: white;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #45236d;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.header-button:hover {
  background-color: #6826af;
}

.view-container {
  width: 100vw;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.tabla {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bigNumber {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: black;
  font-size: 60px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}